.SouvenirStoreApp {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 50%;
  flex-direction: column;
  min-width: 325px;

  &__data-error {
    margin-top: 50px;
    font-size: 20px;
    display: block;
    vertical-align: middle;
    text-align: center;
  }

  &__title {
    display: block;
    text-align: center;
    margin: 50px auto;
  }
}